{% extends 'hostels/base.html' %}
<style type="text/css">
div.josh4
{
text-align:left;
background-color:lavender;
margin-right:1200px;
border-style:double;
}
div.josh5{text-align:right;}
</style>
<title>Reservation page</title>
</head>
<body bgcolor="lightblue">
<form name="form1">
<div class="josh3"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Institution</p></div>
<p><div class="josh4"><u>Hostel Prices</u><p>
Pentagon:{{hostel.fee}}<p>Bani:{{hostel.fee}}<p>
Jubilee:{{hostel.fee}}<p>
Hilla limann:{{hostel.fee}}<p>
Evandy:{{hostel.fee}}
</p>
</div> 
<div class="josh5">Select an institution in Accra.<br>

<p>
<select>
<option value="UG">{{hostels.institution_name}}</option>
</select></p>
<p>
<div class="josh6" align=right>Select a hostel<br>
<select></p>
<option value="a">{{room.hostel_name}}</option>
</div>
<a href="">Next</a>
</p>
</form>
</body>
</html>

