{% extends "hostels/base.html" %}
{% block content %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>About us page</title>
<link href="/static/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
<link href="/static/bootstrap/docs/assets/css/bootstrap-responsive.css"
rel="stylesheet">
<link href="/static/bootstrap/docs/assets/css/docs.css" rel="stylesheet">
<link href="/static/bootstrap/docs/assets/js/google-code-prettify-prettify.css" rel="stylesheet">
 </div>
<style>#first-row {text-align:center}
.center {text-align:center}
.row {border:12px}</style>
<div align="left">
<header class="contactus subhead" >
  <div class="row" id = "first-row">
    <div class="span12">
      <section id="contactus">
          <div id="contactus" class="contactus slide">
            <div class="contactus-inner">
              <div class="item active">
 <div class="well">
             <ul class="nav nav-list">


                <img src="/static/bootstrap/docs/assets/img/bootstrap01.jpg" alt="" height="300" width="300" align="center" ><h3>

                <div class="contactus-caption">
                 
                </div>
              </div>
            
    </div>
  </div>
</div>
  <div class="span12">
    <div class="page-header">
      <h2 class="center">Stairway Inc.</h2>
      <p><font size="2" face="Georgia, Arial" color="grey"><b>Stairway Incorporated is a company that offers hostel management services for hostels in
various University campuses.
Our clients and customers are students and hostel managers who choose the easier, faster and convenient means of reserving rooms in hostels and managing large amount of data respectively.
The Stairway e-hostels offers students the opportunity to reserve rooms online and guarantees them of  a reserved room.</p>
<p> We offer students convenient, less costly, faster and easier way of booking rooms in a particular hostel of their choice in their various institutions. We offer hostel managers as well the ease of managing their database.The system is meant to provide services that would reduce difficulties in locating hostels. It also meant to reduce stress and reduce the high cost involved in booking rooms in hostels manually. Hostel managers on the other hand would be relieved of the burden and stress of assigning rooms to their students and managing a large amount of data manually.</p>
 <p>Stairway provides online hostel management services to both students and hostel managers on the various university campuses. The system hosts different hostels in different institutions. Students who use the system are given the opportunity to check out the hostels on their campuses online. They can find all  the services the various hostels offer, their locations, the room types and the prices for the various rooms. Students are then given the opportunity to register online and given a bank account to pay into and confirmation is sent to students in the form of email and SMS to inform them of their reserved rooms.</b></font></p>
    </div>
  </div>
</div>

</style>
{% endblock %}






