<!-- parent template  -->

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Stairway Base</title>
<link href="/static/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
<link href="/static/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/static/bootstrap/docs/assets/css/docs.css" rel="stylesheet">
<link href="/static/bootstrap/docs/assets/js/google-code-prettify-prettify.css" rel="stylesheet">
<style>#first-row {text-align:left}
.center {text-align:center}
#Search-second {text-align:right}
.row {border:2px}</style>
<script>
$('.carousel').carousel()
</script>
</head>

<body>
<div class="container">

<!-- Masthead
=============================================== -->
  <header class="jumbotron subhead" >
  <div class="row" id = "first-row">
    <div class="span12">
      <h1 class="prettyprint linenums">Stairway e-Hostels</h1>
      <br>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="span6">
      <p class="lead">The online resource for student hostels</p>
    </div>
    <div class="span6" id="Search-second">
      <input type="text"/>
      Search
    </div>
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      <li><a href="/hostels/homepage/about_us">About Us</a></li>
      <li><a href="/hostels/homepage/news">News and Events</a></li>
      <li><a href="#room-res">Room Reservation</a></li>
      <li><a href="/hostels/homepage/gallery">Photo Gallery</a></li>
    </ul>
  </div>
<header>
<hr />


<!-- Middle
=============================================== -->



{% block content %}

{% endblock %}

<!-- Footer
=============================================== -->
<footer class="footer">
<div class="row">
  <div class="span4">
    <p><a href="#ContactUs">Contact Us</a></p>
    {% block footeradd1 %}
    {% endblock %}
  </div>
  <div class="span4">
    <p ><a href="#Location">Location</a></p>
    {% block footeradd2 %}
    {% endblock %}
  </div>
  <div class="span4">
    <p><a href="#Register">Register with Us</a></p>
  </div>
</div>
    <br/>
    <p class="center">Copyright 2012, stairway e-hostels</p>

</footer>
</div>

 <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="/static/bootstrap/docs/assets/js/jquery.js"></script>
    <script src="/static/bootstrap/docs/assets/js/google-code-prettify/prettify.js"></script>
    <script src="/static/bootstrap/docs/assets/js/bootstrap-transition.js"></script>
    <script src="/static/bootstrap/docs/assets/js/bootstrap-alert.js"></script>
    <script src="/static/bootstrap/docs/assets/js/bootstrap-modal.js"></script>
    <script src="/static/bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>
    <script src="/static/bootstrap/docs/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/static/bootstrap/docs/assets/js/bootstrap-tab.js"></script>
    <script src="/static/bootstrap/docs/assets/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/docs/assets/js/bootstrap-popover.js"></script>
    <script src="/static/bootstrap/docs/assets/js/bootstrap-button.js"></script>
    <script src="/static/bootstrap/docs/assets/js/bootstrap-collapse.js"></script>
    <script src="/static/bootstrap/docs/assets/js/bootstrap-carousel.js"></script>
    <script src="/static/bootstrap/docs/assets/js/bootstrap-typeahead.js"></script>
    <script src="/static/bootstrap/docs/assets/js/application.js"></script>




</body>
</html>

