{% extends "hostels/base.html" %}
{% block content %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>contact us page</title>
<link href="bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
<link href="bootstrap/docs/assets/css/bootstrap-responsive.css"
rel="stylesheet">
<link href="bootstrap/docs/assets/css/docs.css" rel="stylesheet">
<link href="bootstrap/docs/assets/js/google-code-prettify-prettify.css" rel="stylesheet">
 </div>
<div class="span12">
    <div class="page-header">
      <h2 class="center">Stairway Inc.</h2>
 <h3 class="center">Please contact us :</h3>
<p><font size="3" face="Georgia, Arial" color="grey"><b>
<p>Stairway Incorporated</p>
<p>Tel: &nbsp;&nbsp;+233 206607210</p>
<p>Email:&nbsp;&nbsp;StairwayIncorporated@gmail.com</p>
