{% extends "hostels/base.html" %}
{% block content %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>contact us page</title>
<link href="bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
<link href="bootstrap/docs/assets/css/bootstrap-responsive.css"
rel="stylesheet">
<link href="bootstrap/docs/assets/css/docs.css" rel="stylesheet">
<link href="bootstrap/docs/assets/js/google-code-prettify-prettify.css" rel="stylesheet">
 </div>
<style>#first-row {text-align:center}
.center {text-align:center}
.row {border:12px}</style>
<div align="left">
<header class="contactus subhead" >
  <div class="row" id = "first-row">
    <div class="span15">
      <section id="contactus">
          <div id="contactus" class="contactus slide">
            <div class="contactus-inner">
              <div class="item active">
 


                <img src="bootstrap/docs/assets/img/contact_us.png" alt="" height="300" width="900" >
<div class="well">
             <ul class="nav nav-list">
<h3>Stairway Incorporated</h3>
<p><font size="3" face="Georgia, Arial" color="grey"><b>

<p>Tel: &nbsp;&nbsp;+233 206607210</p>
<p>Email:&nbsp;&nbsp;StairwayIncorporated@gmail.com</p></div><font size="2px">
If you have a question about Stairway Incorporated, about how to use our site, have feedback to help us improve, have noticed a problem in our search results,want to advertise your hostel or campus events, or are seeking information on any of our services, you can write in to us using our email address. We respond to all queries we get. 
</font>


                <div class="contactus-caption">
                 
                </div>

              </div>
            
    </div>
  </div>
</div>

      
