{% extends "hostels/base.html" %}
{% block content %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>FAQ</title>
<link href="bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
<link href="bootstrap/docs/assets/css/bootstrap-responsive.css"
rel="stylesheet">
<link href="bootstrap/docs/assets/css/docs.css" rel="stylesheet">
<link href="bootstrap/docs/assets/js/google-code-prettify-prettify.css" rel="stylesheet">
 </div>
<style>#first-row {text-align:left}
.center {text-align:left}
.row {border:12px}</style>
<div align="left">
<header class="contactus subhead" >
  <div class="row" id = "first-row">
    <div class="span15">
      <section id="contactus">
          <div id="contactus" class="contactus slide">
<b>How do I make reservations?</b>.
<p>To make reservations 
you have to click on the Room Reservation link
and then fill in the form required for booking/reservation</p>
<b>I have tried to book online, but no bed or room is available-what should I do?</b>
<p>Then am sorry you would have to look for accommodation else where.</p>
<b>I cannot find the hostel I want - what should I do?</b>
<p>Type the name of the hostel or city in the search box at the top of the page or send as a mail with the name of the hostel,and we will get back to you in five hours.</p>
<b>What is the maximum number of people for whom I can make a booking?</b>
<p>You can only make one reservation.</p>
<b>I have  booked the wrong type of room-can I change my booking?</b> 
<p>No.</p>
<b>Can I cancel my booking?</b> 
<p>Yes.</p>
<b>If I cancel my booking, will I get a refund?</b> 
<p>No.</p>
<b>how do I verify that I have been given my reserved room?</b>
<p>After payment,go back online,login and type in your receipt number</p> 
<b>What will I be charged when I make an online booking?</b>
<p>You will be charged GHS5.00 on the total cost of hostel fee for the service</p>
<b>Is your website secure?</b>
<p> We obey the latest industry guidelines and regulations and we store your details. Our system has fully built backup system. </p>
<b>Booking queries</b>
<p>If you have specific queries about your bookings, please email the reservations team at <b>StairwayIncorporated@gmail.com.</b></p> 
<b>I cannot find the answer to my question - what do I do?</b>
<p>send us an email : <b>StairwayIncorporated@gmail.com</b>we will be glad to respond.</p>

