<!-- this is a child template of the base html -->

{% extends "hostels/base.html" %}
{% block content %}



<!-- Middle
=============================================== -->
  <div class="row">
    <div class="span4">
      
   <h3>All Institutions </h3>  
{% for institution in allinstitutions %}

           <div class="well">
            <ul class="nav nav-list">
            
            
            <li><a href="{{ institution.get_absolute_url }}">{{ institution.institution_name }} </a></li>
              
           </ul>

           </div>
{% endfor %}

     <!--/.well -->
    </div>
    <div class="span8">
      <section id="carousel">
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="/static/bootstrap/docs/assets/img/11.JPG" alt="">
                <div class="carousel-caption">
                  <h></h4>
                  <p></p>
                </div>
              </div>
              <div class="item">
                <img src="/static/bootstrap/docs/assets/img/13.jpg" alt="">
                <div class="carousel-caption">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
              <div class="item">
                <img src="/static/bootstrap/docs/assets/img/14.jpg" alt="">
                <div class="carousel-caption">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
          </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
    </div>
  </div>

  <hr/>
<!-- Bottom
=============================================== -->
<div class="row">
  <div class="span4">
    <div class="login-form">
                  <h2>Login</h2>
                  <form action="">
                      <fieldset>
                          <div class="clearfix">
                              <input type="text" placeholder="Username">
                          </div>
                          <div class="clearfix">
                              <input type="password" placeholder="Password">
                          </div>
                          <button class="btn btn-primary" type="submit">Sign in</button>
                      </fieldset>
                  </form>
              </div>
  </div>
  <div class="span8">
    <div class="page-header">
      <h2 class="center">Akwaaba</h2>
      <p>Where stairs are open on one or both sides, the first step above the lower floor may be wider than the other steps and rounded. The balusters typically form a semicircle around the circumference of the rounded portion and the handrail has a horizontal spiral called a "volute" that supports the top of the balusters. Besides the cosmetic appeal, starting steps allow the balusters to form a wider, more stable base for the end of the handrail. Handrails that simply end at a post at the foot of the stairs can be less sturdy, even with a thick post. A double bullnose can be used when both sides of the stairs are open.</p>
    </div>
  </div>
</div>


{% endblock %} 

