<!-- this is a child template of the base html -->

{% extends "hostels/base.html" %}
{% block content %}



<!-- Middle
=============================================== -->
  <div class="row">
    <div class="span4">
     <!-- <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Institutions</li>
              <li class="active"><a href="#">Knust</a></li>
              <li><a href="#">University of Ghana, Legon</a></li>
              <li><a href="#">Valley View University</a></li>
           </ul>-->

           <h3>Institutions</h3>
           <div class="well">
             <ul class="nav nav-list">
              <li class="nav-header">Knust</li>
              <li><a href="displayhostels">Hostels around Knust</a></li>
           </ul>

           </div>
           <div class="well">
             <ul class="nav nav-list">
              <li class="nav-header">University of Ghana, Legon</li>
              <li><a href="#">Hostels around UG</a></li>
           </ul>

           </div>
           <div class="well">
             <ul class="nav nav-list">
              <li class="nav-header">Valley View University</li>
              <li><a href="#">Hostels around VVU</a></li>
           </ul>

           </div>
     <!--/.well -->
    </div>
    <div class="span8">
      <section id="carousel">
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="/static/bootstrap/docs/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
                <div class="carousel-caption">
                  <h4>First Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="/static/bootstrap/docs/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Second Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="/static/bootstrap/docs/assets/img/bootstrap-mdo-sfmoma-03.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Third Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
          </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
    </div>
  </div>

  <hr/>
<!-- Bottom
=============================================== -->
<div class="row">
  <div class="span4">
    <div class="login-form">
                  <h2>Login</h2>
                  <form action="">
                      <fieldset>
                          <div class="clearfix">
                              <input type="text" placeholder="Username">
                          </div>
                          <div class="clearfix">
                              <input type="password" placeholder="Password">
                          </div>
                          <button class="btn btn-primary" type="submit">Sign in</button>
                      </fieldset>
                  </form>
              </div>
  </div>
  <div class="span8">
    <div class="page-header">
      <h2 class="center">Akwaaba</h2>
      <p>Stairway offers students convenient, less costly, faster and easier way of booking rooms in a particular hostel of their choice in their various institutions. We offer hostel managers as well the ease of managing their database.The system is meant to provide services that would reduce difficulties in locating hostels. It also meant to reduce stress and reduce the high cost involved in booking rooms in hostels manually. Hostel managers on the other hand would be relieved of the burden and stress of assigning rooms to their students and managing a large amount of data manually.</p>
    </div>
  </div>
</div>


{% endblock %} 
