{% extends "hostels/base.html" %}
{% block content %}
<div class="row">
<div class=span4>
</div>
<div style="margin:0 auto">
      <section class=span8 id="carousel">
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="/static/bootstrap/docs/assets/img/images3.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Amen Hostel</h4>
                  <p></p>
                </div>
              </div>
</div>
{% endblock %}
