<!-- this is a child template of the base html -->

{% extends "hostels/base.html" %}
{% block content %}


<!-- Middle
=============================================== -->
  <div class="row">
    <div class="span4">
                     
<h3>All Hostels Around {{ institution }} </h3>
 {% for hostel in allhostels %}

           <div class="well">
            <ul class="nav nav-list">
            
            
            <li><a href="{{ hostel.get_absolute_url }}">{{ hostel.hostel_name }} </a></li>
              
           </ul>

           </div>
{% endfor %}




     <!--/.well -->
    </div>
    <div class="span8">
      <section id="carousel">
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="/static/bootstrap/docs/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
                <div class="carousel-caption">
                  <h4>First Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="/static/bootstrap/docs/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Second Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
              <div class="item">
                <img src="/static/bootstrap/docs/assets/img/bootstrap-mdo-sfmoma-03.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Third Thumbnail label</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
          </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
    </div>
  </div>

  <hr/>
<!-- Bottom
=============================================== -->

  <div class="span12">
    <div class="page-header">
      <h2 class="center">Brief Description of Distance of Different hostels from KNUST</h2>
      <p> Welcome to all the different hostels around KNUST. Specifically, Westend Hostels is 20km away from KNUST campus.
          Brunei Hostel is 10km away from KNUST campus. Splendor Hostels is 5.9km away from KNUST and Frontline Hostels is
          located on campus.</p>
    </div>
  </div>
</div>


{% endblock %}

<!-- Additional information on base Footer
=============================================== -->
 
   {%block footeradd1%}
    <p><a href="#">Hostel Terms and Conditions</a></p>
   {% endblock %}
 
   {%block footeradd2 %}
    <p><a href="#">Rules for payment</a></p>
   {%endblock %}



