<!-- this is a child template of the base html -->

{% extends "hostels/base.html" %}
{% block content %}



<!-- Middle
=============================================== -->
  <div class="row">
    <div class="span4">


           
           <h3 color ="ff">Welcome to {{ hostel }}  </h3>
           <div class="well">
             <ul class="nav nav-list">
              <li class="nav-header">Available Facilities</li>
              
              {% for amenity in amenities %}


              <li>{{amenity.name}}</li> 

            
              {% endfor %}           
              </ul>


           </div>
           <div class="well">
             <ul class="nav nav-list">

             {% for i in hostelfee %}
              <li> {{i.hostelfee}}</li>
             {% endfor %}
              <li class="nav-header">Prices</li>
              <li>1 in a room : GHS2000.00</li>
              <li>2 in a room : GHS1000.00</li>
              <li>3 in a room : GHS850.00</a></li>
              <li>1 in a room : GHS600.00</li>
           </ul>

           </div>
           <div class="well">
             <ul class="nav nav-list">
              <li class="nav-header">Contact Information</li>

                   {% for a in allhostels %}
           
                  <li > {{a.hostel_manager_details}} </li>
                   {% endfor %} 
        
              </ul>
            </div>


           
     <!--/.well -->
    </div>
    <div class="span6">
      <section id="carousel">
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="/static/bootstrap/docs/assets/img/franco1.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Main View</h4>
                  <p></p>
                </div>
              </div>
              <div class="item">
                <img src="/static/bootstrap/docs/assets/img/3.jpg" alt="">
                <div class="carousel-caption">
                  <h4>rooms</h4>
                  <p></p>
                </div>
              </div>
              <div class="item">
                <img src="/static/bootstrap/docs/assets/img/franco3.jpg" alt="">
                <div class="carousel-caption">
                  <h4>corridor</h4>
                  <p></p>
                </div>
              </div>
          </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
    </div>
  </div>

  <hr/>
<!-- Bottom
=============================================== -->
<div class="row">
  <div class="span4">
    <div class="well">
             <ul class="nav nav-list">
              
	      <li class="nav-header">Account Details</li>
              			  <li>Name: Amen Hostel</li>
                                   <li>Bank:Ecobank Bank</li>
				   <li>Number:0290044418487103</li>
				   <li>Branch:Knust</li></ul>
           </ul>

           </div>
  </div>
  <div class="span8">
    <div class="page-header">
      <h2 class="left">About {{ hostel }}</h2>
          {% for a in allhostels %}
           
      <p > {{a.hostel_description}} </p>
          {% endfor %} 
      
    </div>
  </div>
       
</div>

     <a href="/hostels/homepage/studentreg" ><h2 style="color:#A52A2A"> REGISTER NOW</h2>  </a>

{% endblock %} 
