<!-- this is a child template of the base html -->

{% extends "hostels/base.html" %}
{% block content %}



<!-- Middle
=============================================== -->
  <div class="row">
    <div class="span4">
     <!-- <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Institutions</li>
              <li class="active"><a href="#">Knust</a></li>
              <li><a href="#">University of Ghana, Legon</a></li>
              <li><a href="#">Valley View University</a></li>
           </ul>-->

           <h3 style="color:DarkMagenta "><MARQUEE WIDTH=100% BEHAVIOR=SCROLL DIRECTION=RIGHT >NEWS&nbsp;&nbsp;NEWS&nbsp;&nbsp;NEWS&nbsp;&nbsp;NEWS</MARQUEE></h3>
           
<div class="well">
	<div>
	<h2 class="nav-header">Latest Stories</h2>
</div>
	<ul>
              <li>UCC student wins "2012 lets got to France" competitions</li>
              <li>Earn serious cash online</li>
	      <li>Construction of UCC broadcasting centre</li>
	      <li>NAB lifts admission band on Methodist University</li>
	     <li>KNUST 2012 congregation postponed</li>
		<li>IAESTE CALLING!!!!!!!!!!!!</li>
		<li>Theft cases on the rise on campus</li>
		<li></li>
           </ul>


           </div>
       
    </div>
    <div class="span6">
      <section id="carousel">
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="/static/bootstrap/docs/assets/img/money.jpg" alt="">
               
              </div>
              <div class="item">
                <img src="/static/bootstrap/docs/assets/img/New Picture.bmp" alt="">
                <div class="carousel-caption">
                  <h4></h4>
                  <p>Vice Chancellor commends UCC sport team</p>
                </div>
              </div>
              <div class="item">
                <img src="/static/bootstrap/docs/assets/img/miss_dinah_recheal_blankson.jpg" alt="">
                <div class="carousel-caption">
                  <h4></h4>
                  <p>UCC student wins "2012 lets go to France" competitions</p>
                </div>
              </div>
          </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
    </div>
  </div>

  <hr/>
<!-- Bottom
=============================================== -->
<div class="row">
  <div class="span4">
    <div class="page-header">
	<h2 align="left">Latest Adverts </h2>
    </div> 
<ul>
<li>fresh ipad</li>
<li>Brand new laptops for sale at affordable prices</li>
<li>Hp G6 laptops</li>
<li>7 inch touch screen andriod 2.2 frogo tablet pc</li>
</lu>
   </div>
  <div class="span4">
    <div class="page-header">
      <h2 align="center">Latest Gossip</h2>
     </div>
<ul>
<li>UCC student allegedly rapes study mate three times</li>
<li>Does he love me?</li>
<li>Love Triangle</li>
<li>My roommates's Ex</li>
	</ul>
    </div>
   
<div class="span4"> 
   <div class="page-header"> 
      <h2 align="right">Technology</h2>
</div>
<li>Samsung disables Galaxy S3 Goolge local search function</li>
<li>Genetic entrepreneur to compete in Genomics X price</li>
<li>Send and receive emails as SMS messages using your phone</li>
<li>OfCom reveals 4G mobile auction plans</li>
      <p ></p>
   </div> 
   </div>
</div>


{% endblock %} 
