<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Hostel Manager Page</title>
<link href="/static/bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
<link href="/static/bootstrap/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/static/bootstrap/docs/assets/css/docs.css" rel="stylesheet">
<link href="/static/bootstrap/docs/assets/js/google-code-prettify-prettify.css" rel="stylesheet">
<style>#first-row {text-align:left}
.center {text-align:center}
#Search-second {text-align:right}
.row {border:2px}</style>
<script>
$('.carousel').carousel()
</script>
</head>

<body>
<div class="container">

<!-- Masthead
=============================================== -->
  <header class="jumbotron subhead" >
  <div class="row" id = "first-row">
    <div class="span12">
      <h1 class="list">{% block container%}

 <!--{{ user_list.id }}-->
     {{ hostel_list.hostel_name }}&nbsp;&nbsp;Hostel
     {% endblock %}</h1>
      <br>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="span6">
      
    </div>
    
  </div>
  <div class="subnav">
    <ul class="nav nav-pills">
      
      </ul><div class="span10" id="Search-second">
    <form method = "post"  >
   <input type="text" name = "studentsearch" id = "studentsearch"/>
   <input type="submit" name="Search" id="Search" value="Search" />   
</form>
    </div>
  </div>

<header>  
<hr />


<!-- Middle
=============================================== SHOWS A REGISTERED STUDENT'S DETAILS-->



{% block content %}

<div class="row">
    <div class="span12"> 
      <table border = 0 cellpadding = 0 cellspacing = 0 class = "" ><tr>

<td height = 200 ><div id="" class=""><img src="/media/{{ everystudent.picture }}" width ="150" height = "200"/></td>
  <td class = "span8"></td>      
      </tr></table>
<table border = 0 cellpadding  = 0 cellspacing =0 class = "list">

      <tr>
        <td  height="35" width ="200"><label>INDEX_NUMBER:</label></td>
        <td>{{ everystudent.id_number }}</td>
      </tr>
      <tr>
        <td height="35"><label>SURNAME:</label></td>
        <td>{{ everystudent.last_name }}</td>
      </tr>
      <tr>
        <td height="35">OTHER NAMES:</td>
        <td>{{ everystudent.first_name }}</td>
      </tr>
<!--<tr>
        <td height="35">HOSTEL NAME:</td>
        <td></label></td>
      </tr-->
      <tr>
        <td height="35">ROOM NUMBER:</td>
        <td></label>{{ room_number.room_num }}</td>
      </tr>
      <tr>
        <td height="35">CONTACT NUMBER:</td>
        <td>{{ everystudent.phone_number }}</label></td>
      </tr>
      <tr>
        <td height="35"><label>PROGRAMME OF STUDY:</label></td>
        <td>{{ everystudent.program_of_study }}</td>
      </tr>
      
    </table>
   
		    

     </div>
     </div>

{% endblock %}
<!-- Footer
=============================================== -->
<footer class="footer">
<div class="row">
  <div class="span4">
    <p><a href="#ContactUs">Contact Us</a></p>
    {% block footeradd1 %}
    {% endblock %}
  </div>
  <div class="span4">
    <p ><a href="#Location">Location</a></p>
    {% block footeradd2 %}
    {% endblock %}
  </div>
  <div class="span4">
    <p><a href="">logout</a></p>
  </div>
</div>
    <br/>
    <p class="center">Copyright 2012, stairway e-hostels</p>

</footer>
</div>
