{% extends 'hostels/base.html' %}
<style type="text/css">
div.bin
{
background-color:lightgrey;
margin-right:50px;
margin-left:50px;
font-size:20px;
}
div.josh3{background-color:font-size:20px;background-color:lavender;
margin-top:20px;margin-bottom:50px;}
div.josh4
{
text-align:left;
background-color:white;
margin-right:1100px;
border-style:double;
font-size:20px;
}
div.josh5{text-align:right;}
</style>
<title>Reservation page</title>
</head>
<body>
<div class="bin">
<div class="josh3">Institutions</div>
<form name="form1">

<div class="span4"><p>Hostel & their prices</p></div>
<div class="well">
             <ul class="nav nav-list">
              <li class="nav-header">Jubilee</li>
              <li><a href="#">GHS 600</a></li>
           </ul>

           </div>
<div class="well">
             <ul class="nav nav-list">
              <li class="nav-header">Bani</li>
              <li><a href="#">GHS 720</a></li>
           </ul>

           </div>
<div class="well">
             <ul class="nav nav-list">
              <li class="nav-header">Pentagon</li>
              <li><a href="#">GHS 800</a></li>
           </ul>

           </div>
<div class="well">
             <ul class="nav nav-list">
              <li class="nav-header">Hilla Limann</li>
              <li><a href="#">GHS 720</a></li>
           </ul>

           </div>
<div class="josh5">Select an institution in Accra.<br>

<p>
<select>
<option value="UG">University of Ghana</option>
<option value="KNUST">Kwame Nkrumah University of Science and Technology</option>
<option value="UCC">University of Cape-Coast</option>
<option value="MU">Methodist University</option>
<option value="UDS">University of Development Studies</option>
<option value="CU">Central University</option>
<option value="VW">Valley View University</option>
</select></p>
<p>
<div class="josh6" align=right>Select a hostel<br>

<select></p>
<option value="a">Pentagon</option>
<option value="b">Evandy</option>
<option value="c">Hilla Limann</option>
<option value="d">Jubilee</option>
<option value="e">Bani</option></select>

</div><br>

</p>
</div> 

</form>
<div class="josh3" align=right><a href="student_registration.html">Next</a>
</div>
</div>

</body>
</html>

