{% extends "hostels/base.html" %}
{% block content %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<script language="javascript">
function check1()
{
if(document.reg.name.value=="")
{
alert("Field can't be empty");
}
}
function check2()
{
if(document.reg.date_of_birth.value=="")
{
alert("Field can't be empty");
}
}
function check3()
{
if(document.reg.studentid.value=="")
{
alert("Field can't be empty");
}
}
function check4()
{
if(document.reg.email.value=="")
{
alert("Field can't be empty");
}
}
function check5()
{
if(document.reg.contact_number.value=="")
{
alert("Field can't be empty");
}
}
function check6()
{
if(document.reg.new_username.value=="")
{
alert("Field can't be empty");
}
}
function check7()
{
if(document.reg.confirm_username.value=="")
{
alert("Field can't be empty");
}
}
function check8()
{
if(document.reg.password.value=="")
{
alert("Field can't be empty");
}
}
function check9()
{
if(document.reg.password2.value=="")
{
alert("Field can't be empty");
}
}
function check10()
{
if(document.reg.program.value=="")
{
alert("Field can't be empty");
}
}

</script>
<title>Registration</title>
<link href="bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
<link href="bootstrap/docs/assets/css/bootstrap-responsive.css"
rel="stylesheet">
<link href="bootstrap/docs/assets/css/docs.css" rel="stylesheet">
<link href="bootstrap/docs/assets/js/google-code-prettify-prettify.css" rel="stylesheet">
 <div class="row">
    <div class="span6">
     <!-- <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Institutions</li>
              <li class="active"><a href="#">Knust</a></li>
              <li><a href="#">University of Ghana, Legon</a></li>
              <li><a href="#">Valley View University</a></li>
           </ul>-->
 <h3>REGISTRATION</h3>
<body>

 <div class="row">
    <div class="span12">
<div class="well">
             <ul class="nav nav-list">
              <li class="nav-header">
<h3>PERSONAL INFORMATION</h3>
<label for="name">Name:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<input type="text" id="name" name="name"  /></label>
<label for="date of birth">Date of Birth:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input 
<input type="text" id="date of birth" name="date_of_birth"  onblur="check2()"/></label>
<label for="sex">Sex:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="sex" value="male" /> Male
<input type="radio" name="sex" value="female" /> Female
 <br/></label>
<div>School:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<select><p>
<option value="university of ghana">University Of Ghana</option>
<option value="knust">KNUST</option>
<option value="university of capecoast">University Of Capecoast</option>
<option value="university of development studies">University Of Development Studies</option>
</p></select>
</div>
<label for="studentid">Student ID:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<input type="text" id="studentid" name="studentid"  onblur="check3()"/></label>
<label for="program">Programme of Study:
&nbsp; &nbsp;&nbsp;
<input type="text" id="program" name="program"  onblur="check10()"/></label>
<div>Level of Study:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select><p>
<option value="100">level 100</option>
<option value="200">level 200</option>
<option value="300">level 300</option>
<option value="300">level 400</option>
</p></select></div>
<label for="email">E-mail:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<input type="text" name="email" onblur="check4()"></label>                
<label for="contact number">Contact number:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                 
 <input type="text" id="contact_number" name="contact_number" onblur="check5()"/></label>
<label for="new username"> New Username:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" id="new username" name="new_username"  onblur="check6()"/></label>
<label for="confirm username"> Confirm Username:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" id="confirm username" name="confirm_username"  onblur="check7()"/></label>
 <label for="password">Password:
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;  
<input type="password" name="password" onblur="check8()"></label>                
<label for="password2">Retype Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="password2" onblur="check9()"></label>
 upload photo:
<form name="myWebForm" action="" method="post" >
<input type="file" name="uploadField" />
</form>
<input name="checkbox" type="checkbox" value="checkbox" checked> 
<p>I declare that I have read and understood the <a href="Stairway/terms and conditions.doc">rules and terms</a> </p>            
<div align="right"><button class="btn btn-primary" type="submit" a href="confirmation_page">Submit</a></button></div></form>
  </div></li> 
</body>
</html>



         
    
           

 
             
