<!-- this is a child template of the base html -->

{% extends "hostels/base.html" %}
{% block content %}
<h3> Please Confirm Your Hostel Registration </h3>
<div class="row">
  <div class="span12">
    <div class="student-confirmation-form">
                  <h2>Student Personal Details</h2>                
                  <form action="">
                      <fieldset>
                          <div class="clearfix">
                              <input type="text" placeholder="Name">
                          </div>
                          <div class="clearfix">
                              <input type="text" placeholder="contact address">
                          </div>
                          <div class="clearfix">
                              <input type="text" placeholder="E-mail address">
                          </div>
                          <div class="clearfix">
                              <input type="text" placeholder="Phone Number">
                          </div>
                      </fieldset>
                  </form>
              </div>
  </div>
</div>

<div class="row">
  <div class="span12">
                  <h2>Hostel Details</h2>
                  <form action="">
                      <fieldset>
                          <div class="clearfix">
                              <input type="text" placeholder="Hostel Name">
                          </div>
                          <div class="clearfix">
                              <input type="text" placeholder="Room Number">
                          </div>
                          
                      </fieldset>
                  </form>
              </div>
  </div>
</div>
<div class="row">
  <div class="span12">
                  <h2>Please Enter Hostel Payment Information</h2> 
                  <form action="">
                      <fieldset>
                          <div class="clearfix">
                              <input type="text" placeholder="Amountpaid">
                          </div>
                          <div class="clearfix">
                              <input type="text" placeholder="Receipt">
                          </div>
                          
                      </fieldset>
                  </form>
              </div>
  </div>
</div>


<div class="row">
  <div class="span8">
    <div class="Confirmation-button-form">
                  <button type="submit" class="btn" style="color:#8B0000;height:60px;width:150px "><h4><b>SUBMIT TO CONFIRM REGISTATION</b></h4></button>

              </div>
  </div>

<div class="row">
  <div class="span4">
    <div class="Registration button-form">
                  <p>Thank You For Registrating with Stairway e-hostels</p>

              </div>
  </div>
</div>

{% endblock %}
