{% extends "hostels/base.html" %}
{% block content %}
<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> 
<head>
<style type="text/css">
ol{font-size:15px;}
</style>
<title>Terms & conditions</title>
<div align="center"><font size=5>Terms and conditions</font></div>
<hr>
<ol>
<li>The main door will be looked at exactly 12:00 am.</li><p>
<li>Cooking in rooms is prohibited.</li></p><p>
<li>Any student guilty of theft will be expelled from the hostel.</li></p><p>
<li>Students guilty of creating violence will be expelled from the hostel.</li></p><p>
<li>Washing on balconies is prohibited.</li></p><p>
<li>Students will pay for any damage caused in rooms.</li></p><p>
<li>Perching is not allowed.</li></p>
</ol>
<link href="bootstrap/docs/assets/css/bootstrap.css" rel="stylesheet">
<link href="bootstrap/docs/assets/css/bootstrap-responsive.css"
rel="stylesheet">
<link href="bootstrap/docs/assets/css/docs.css" rel="stylesheet">
<link href="bootstrap/docs/assets/js/google-code-prettify-prettify.css" rel="stylesheet">
