{% extends "hostels/base.html" %}
{% block content %}

<h2 style="color:Teal"><b>Terms, Conditions and Notices</b></h2><br />

<h3 font family:arial" style="color:Sienna" >

Your use of this website is subject to your irrevocable acceptance without modification of these terms of use (the 'Terms') and you agree to use this website in accordance with and subject to these Terms. The Terms as set out hereunder constitute the entire agreement between you and Hostelworld.com Limited (trading as "Hostels.com.). If you do not accept these Terms, do not use this website. By accessing any part of the Hostels.com website, you consent to be bound by these Terms. <br /><br />

Here is our plain English version, for the full legal-ese see below: 
We facilitate the processing and booking of certain travel services including accommodation. We do not provide, own or run any travel services ourselves and in particular we do not provide, own or run any accommodation. 
You may cancel your booking up to twenty-four hours before arrival. Please do so directly with the relevant travel services provider.</h3><br />

<h2 style="color:Teal"> DEPOSITS ARE NON REFUNDABLE </h2>
<h3 font family:arial" style="color:Sienna"> <br />

In the event of a no-show without cancellation, the travel services provider has the right to charge your credit card for the first night's stay where you have booked accommodation with such service provider, or for the full price of the tour or other non-accommodation travel service in accordance with the travel service provider's terms and conditions. 
Every effort is made to ensure the travel services provider processes your bookings correctly. 
Your contract is with the travel services provider, not Hostels.com. It is the travel services provider's responsibility to provide you with the travel services. <br />
In the highly unlikely event of a problem arising, our liability to you, if any, is limited to the deposit and the reservation fee you paid. 
Ratings shown on the website are the opinion of people who have booked and availed of the relevant travel services or have stayed in the relevant accommodation. We take no responsibility for such opinions.</h3><br />

<h2 style="color:Teal"> THE FULL LEGAL VERSION:</h2>
<h3 font family:arial" style="color:Sienna"><br />

THIS AGREEMENT is between you, the user of this Site, and Hostels.com. 

Your use of this website is subject to your irrevocable acceptance without modification of these terms of use (the 'Terms') and you agree to use this website in accordance with and subject to these Terms. The Terms as set out hereunder constitute the entire agreement between you and Hostels. Com. If you do not accept these Terms, do not use this website. By accessing any part of the Hostels.com website, you consent to be bound by these Terms. 
</h3>
<br /> 

<h2 style="color:Teal">NO LIABILITY</h2>
<h3 font family:arial" style="color:Sienna"> <br /> 

You should note that Hostels.com does not warrant that the information published on this website will be error free and in using this website you acknowledge that the accommodation details and all other information including information relating to travel services published on this website may include inaccuracies, mistranslations or typographical errors.
 
</h3><br /> 
<h3 font family:arial" style="color:Sienna">
All bookings for travel services on this website are made with the travel services provider concerned and not with Hostels.com. Hostels.com only facilitates the making of reservations with the travel
</h3>

{% endblock %}
